# Ambiente virtual
env/
.venv/

# Pastas de build do Python
build/
dist/
*.egg-info/

# Cache do Python
__pycache__/
*.py[cod]

# Checkpoints do Jupyter
.ipynb_checkpoints/

# Arquivos temporários de sistema
.DS_Store
Thumbs.db
