# Ambiente virtual
env/
.venv/

# Ignorar variáveis locais
.env

# Pastas de build do Python
env/
dist/
build/
*.egg-info/

# Cache do Python
__pycache__/
*.py[cod]

# Checkpoints do Jupyter
.ipynb_checkpoints/

# Arquivos temporários de sistema
.DS_Store
Thumbs.db
.env
log_analytics.json
.ipynb_checkpoints/
logs/
*.log
